# macOS system files
.DS_Store

# IntelliJ project files
/.idea/

# NeoVim packages
/nvim/pack/

# GitHub Copilot
/github-copilot/

# Delve
/dlv/

# Google Cloud SDK
/gcloud

# Z-Shell files
/zsh/.zsh_sessions/
/zsh/.zcompdump

/.mypy_cache/
/Battle.net/
/NuGet/
/gh/hosts.yml
/fzf-tab/
/azure/

# Archives
*.tgz
*.zip
*.tar.gz

/espanso/
/bin/
/letsencrypt
mozilla/vpn.moz
wireshark/recent
wireshark/recent_common
jgit/config
ddclient/ddclient.conf
jetbrains/colors/_@user_Default.icls
.gitignore
